
:root {
    --sucess-color:green;
    --error-color:red;
}

*{
box-sizing: border-box;
}

body{
    background-color:#2a8db8 ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2p 10px rgba(0,0,0,0.3);
    width: 400px;
}

h2{
text-align: center;
margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
   
}

.form-control input{
    border-radius: 15px;
    border: 2px solid black;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline:0 ;
    border-color: #7777;
}

.form-control.success input{
    border-color: var(--sucess-color);
}                                                                      

.form-control.error input{
    border-color:red;
}   

.form-control p{
    color:black;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error p{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: navy;
    border:2px solid navy;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

